 <main>
     <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Blood bank</h2>
                    <p>Locates blood banks closest to you Collaborates Become Giver and Saves Lives
               
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn-primary btn-lg" href="https://devsignxyz.typeform.com/to/wYU7Tt" target="_blank">Contact!</a>
                </div>
            </div>
        </div>
    </section><!--/#cta-->
        <hr>
        <!--Google map-->
            <div id="map-container" class="z-depth-1-half map-container" style="height: 400px"></div>
    	
    	
    	
    </main>