   <!--Footer-->
    <footer class="page-footer center-on-small-only" style="background-color: #1C2331;
            margin-top: -1px;">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title">ABOUT DONATELIFE</h5>
                    <p>An idea born in the realization of a specialization called "Full Stack Web development" given by Coursera with the technological and scientific University Read more</p>
                    
                    <ul><li><a href="about.html">Read More</a></li></ul>
                    
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">Places</h5>
                    <ul>
                        <li ng-class="{active:stateis('app')}"><a ui-sref="app"><i class="fa fa-home"></i> Home</a></li>
                        <li ng-class="{active:stateis('app.find')}"><a ui-sref="app.find"><i class="fa fa-group"></i> Donor</a></li>
                        <li ng-class="{active:stateis('app.bloodb')}"><a ui-seref="app.bloodb"><i class="fa fa-building"></i> Blood Bank </a></li>
                        <li><a href="#!"><i class="fa fa-blind"></i> Social Services</a></li>
                         <li><a href="#!"><i class="fa fa-info-circle"></i>About </a></li>
                         <li><a href="#!"><i class="fa fa-pencil"></i>Write </a></li>
                         <li><a href="#!"><i class="fa fa-pencil"></i>info </a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Contact</h5>
                    <ul>
						<li><a href="#!"><i class="fa fa-envelope-o"> </i> team@donatelife.com</a></li>
                        <li><a href="#!"><i class="fa fa-envelope-o"></i>soporte@donatelife.com</a></li>
                        <li><a href="#!"><i class="fa fa-skype"></i> Skype</a></li>
                        <li><a href="#!"><i class="fa fa-phone"></i> 58+286-9712433</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">Do You want Help</h5>
                    <ul>
                        <li><a href="#!">Contact for help</a></li>
                        <li><a href="#!">Blog</a></li>
                        <li><a href="#!">Donations</a></li>
                        
                     
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>
        

        <!--Call to action-->
        <div class="call-to-action">
            <h4>Download </h4>
            <ul>
                <li>
                    <h4>Get our Mobile App</h4></li>
                <li><a target="_blank" href="#" class="">Sign up!</a></li>
                <li><a target="_blank" href="#" class=""><img src="images/android-app-on-google-play_1.png" alt=""></a></li>
            </ul>
            <div class="container">
        	<hr class="hidden-md-up">
                <h5>SHARED</h5>
                 <div class="col-xs-12 col-sm-">
                    <div style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn google-plus" href="http://google.com/+"> <i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="> <i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"> <i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn youtube" href="http://youtube.com/"> <i class="fa fa-youtube"></i></a>
                        <a class="btn btn-social-icon-envelope-o" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
        	
        </div>
            
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid1">
                © 2016 Copyright: <a href="http://www.devsign.xyz
					">http://www.devsign.xyz </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

