<main>
     <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>Stay informed </h2>
                    <p>Learn a little more about how being a donor and conditions
               
                    </p>
                </div>
                
            </div>
        </div>
    </section><!--/#cta-->
        <hr>
        
        <div class="container">
<div class="card" ng-repeat="info in infos">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img ng-src={{info.image}} alt="" height="100px">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Button-->
    <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">{{info.titulo}}</h4>
        <hr>
        <!--Text-->
        <p class="card-text">{{info.conte}}</p>
    </div>
    <!--/.Card content-->

    <!-- Card footer -->
    
    <!-- Card footer -->

</div>
</div>
<!--/.Card-->
     
    <!--/First row-->

    <hr>


    
</section>
          </li>
           </ul>
		</div>

    	
    	
    </main>