<main>
     <section id="cta" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h2>App web -App moviles</h2>
                    <p>Desarrollo de aplicaciones web y aplicaciones moviles hibridas, todo el desarrollo full stack, desarrollamos tu idea y l hacemos realidad, contactanos y juntos crearemos esa aplicacion que tantos sueñas.
               
                    </p>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-primary btn-lg" href="https://devsignxyz.typeform.com/to/wYU7Tt" target="_blank">Contactarnos!</a>
                </div>
            </div>
        </div>
    </section><!--/#cta-->
        <hr>
        <div class="container" ng-controller="FindController">
        <div class="row">
        <div class="col-sm-4">
        <select class="mdb-select">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Orh+</option>
    <option value="2">Orh-</option>
    <option value="3">Option 3</option>
</select>
<label>Blood Type</label>
       </div>
       <div class="col-sm-4">
        <select class="mdb-select">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
</select>
<label>Location</label>
       </div>
       <div class="col-sm-4">
       	<button class="btn btn-default btn-lg">Seek</button>
       </div>
			</div><!--row-->
		</div> <!--end container-->
       <hr>
        
        
        <!--===========lista-==========================
        <div class="container">
        	<div class="col-md-12">
    <!--First review-->
    <div class="container">
    <div class="media">
        <a class="media-left waves-light">
            <img class="img-circle" ng-src="donor.image" alt="Generic placeholder image">
        </a>
        <div class="media-body">
            <hr>
            <ul class="rating inline-ul">
                <li ng-repeat="donor in donors"> <h4 class="media-heading">{{donor.name}}</h4></li>
                <li>Type Blood <i class="fa fa-star amber-text"></i>{{donor.type Blood}}</li>
                
            </ul>
            <ul class="rating inline-ul">
                <li>Location<i class="fa fa-star amber-text"></i> {{donor.location}}</li>
                
            </ul>
             <ul class="rating inline-ul">
                <button class="btn btn-primary">Contactar</button>
                
            </ul>
            
        </div>
    </div>

    
		</div>

 	
       
    	
    	
    	
    </main>